
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section titlePage{Thanh toán thất bại}

<div class="container">
    <br />
    <div class="container">
        <h2 class="alert alert-info text-danger" style="text-align:center; text-transform:uppercase;">
            Thanh toán đơn hàng thất bại
        </h2>
        <br />
        <h4 class="text-warning" style="text-align:center; text-transform:uppercase;">
            Bạn hãy thử lại, nếu còn hiện tượng này sảy ra hay liên hệ với chúng tôi
        </h4>

        <br />
        <br />

        <div>
            <a href="/trang-chu" class="btn btn-outline-primary">Quay lại trang chủ</a>
        </div>
        <br />
    </div>
</div>
